<div id="mainslider_1" class="sliderHomeBullets staticSlider slider_engine_revo slider_alias_rev-hr2">
    <div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">

        <div id="rev_slider_1" class="rev_slider fullwidthabanner">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-thumb="images/slider/320x200.png" data-saveperformance="off" data-title="Slide">

                    <img src="images/slider/1386x485.png" alt="slide2_1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


                    <div class="tp-caption hr-sl2-text sfl tp-resizeme" data-x="right" data-hoffset="-27" data-y="center" data-voffset="-137" data-speed="500" data-start="500" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        Learn how our<br />
                    </div>

                    <div class="tp-caption hr-sl2-text sft tp-resizeme" data-x="right" data-hoffset="-107" data-y="center" data-voffset="-68" data-speed="500" data-start="1000" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        design-build<br />
                    </div>

                    <div class="tp-caption hr-sl2-text sfr tp-resizeme" data-x="right" data-hoffset="-129" data-y="center" data-voffset="0" data-speed="500" data-start="1500" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        remodeling<br />
                    </div>

                    <div class="tp-caption hr-sl2-text sfb tp-resizeme" data-x="right" data-hoffset="-43" data-y="center" data-voffset="68" data-speed="500" data-start="2000" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        process makes<br />
                    </div>

                    <div class="tp-caption hr-sl2-text sfl tp-resizeme" data-x="right" data-hoffset="-11" data-y="center" data-voffset="135" data-speed="500" data-start="2500" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        your life easier
                    </div>
                </li>

                <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-thumb="images/slider/320x200.png" data-saveperformance="off" data-title="Slide">

                    <img src="images/slider/1386x916.png" alt="slide2_2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


                    <div class="tp-caption hr-sl2-text tp-fade tp-resizeme" data-x="right" data-hoffset="-10" data-y="center" data-voffset="-25" data-speed="1500" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        Transforming<br />
                        Homes and <br />
                        Building Clients <br />
                        For Life<br />
                    </div>

                    <div class="tp-caption hrsl1btn sfb tp-resizeme" data-x="right" data-hoffset="-321" data-y="bottom" data-voffset="-55" data-speed="500" data-start="2000" data-easing="Bounce.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        <div class="sc_button sc_button_style_global sc_button_size_medium squareButton global medium">
                            <a href="#" class="">View Project</a>
                        </div>
                    </div>
                </li>

                <li data-transition="slideup,slidedown,slideright,slideleft,fade,zoomout,zoomin" data-slotamount="7" data-masterspeed="300" data-thumb="images/slider/320x200.png" data-saveperformance="off" data-title="Slide">

                    <img src="images/slider/1386x616.png" alt="slide2_3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


                    <div class="tp-caption hr-sl2-text randomrotate tp-resizeme" data-x="right" data-hoffset="-10" data-y="center" data-voffset="-35" data-speed="1500" data-start="500" data-easing="easeInOutBack" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        Register Now<br />
                        for our FREE Design<br />
                        and Remodeling <br />
                        seminar!
                    </div>

                    <div class="tp-caption hrsl1btn randomrotate tp-resizeme" data-x="right" data-hoffset="-433" data-y="bottom" data-voffset="-65" data-speed="500" data-start="2000" data-easing="easeInOutBack" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                        <div class="sc_button sc_button_style_global sc_button_size_medium squareButton global medium">
                            <a href="#" class="">View Project</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="mainWrap without_sidebar">
    <div class="content">
        <div class="itemscope" itemscope itemtype="http://schema.org/Article">
            <section class="post postAlter no_margin page type-page status-publish hentry">
                <article class="post_content">
                    <div class="post_text_area" itemprop="articleBody">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="sc_content main">
                                        <h1 class="sc_title sc_aligncenter sc_title_regular" data-animation="animated fadeInUp">Services</h1>
                                        <h3 class="sc_undertitle sc_aligncenter sc_title_regular margin_bottom_small" data-animation="animated fadeInUp">Remodeling and Home Design</h3>
                                        <div class="sc_section sc_aligncenter">
                                            <div class="columnsWrap sc_columns sc_columns_count_3 margin_bottom_big" data-animation="animated fadeInUp">
                                                <div class="columns1_3 sc_column_item sc_column_item_1 odd first">
                                                    <a href="features_pages_service.html">
                                                        <div class="sc_section">
                                                            <div class="sc_title_icon_animated">
                                                                <div class="sc_title_icon sc_title_top sc_size_medium icon-tools sc_title_bg sc_bg_animated">
                                                                </div>
                                                                <h5 class="sc_title sc_title_iconed">Maintenance</h5>
                                                            </div>
                                                        </div>
                                                        <div class="sc_section ">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p>Garage Door Repair. Carpentry. Termite Damage <br />Repairs. Tub and shower caulking. Doors. <br />Fences. Weatherproofing&#8230;</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="columns1_3 sc_column_item sc_column_item_2 even">
                                                    <a href="features_pages_service.html">
                                                        <div class="sc_section">
                                                            <div class="sc_title_icon_animated">
                                                                <div class="sc_title_icon sc_title_top sc_size_medium icon-wired sc_title_bg sc_bg_animated">
                                                                </div>
                                                                <h5 class="sc_title sc_title_iconed">Wiring</h5>
                                                            </div>
                                                        </div>
                                                        <div class="sc_section ">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p>Electrical. Cable TV. Internet. Network. Low<br /> Voltage. Door Bells. Home Theater. Sprinkler<br /> Systems. Phone Jacks. Computers.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="columns1_3 sc_column_item sc_column_item_3 odd">
                                                    <a href="features_pages_service.html">
                                                        <div class="sc_section">
                                                            <div class="sc_title_icon_animated">
                                                                <div class="sc_title_icon sc_title_top sc_size_medium icon-construction3 sc_title_bg sc_bg_animated">
                                                                </div>
                                                                <h5 class="sc_title sc_title_iconed">Tiling</h5>
                                                            </div>
                                                        </div>
                                                        <div class="sc_section ">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p>Kitchens. Baths. Back Splashes. Floors. <br /> Grout. Grout Repair. Grout sealing.<br /> Tile repair. Showers. Walls</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="columnsWrap sc_columns sc_columns_count_3" data-animation="animated fadeInUp">
                                                <div class="columns1_3 sc_column_item sc_column_item_1 odd first">
                                                    <a href="features_pages_service.html">
                                                        <div class="sc_section">
                                                            <div class="sc_title_icon_animated">
                                                                <div class="sc_title_icon sc_title_top sc_size_medium icon-widescreen sc_title_bg sc_bg_animated">
                                                                </div>
                                                                <h5 class="sc_title sc_title_iconed">Audio/Visual</h5>
                                                            </div>
                                                        </div>
                                                        <div class="sc_section ">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p>Home Theater Installation. Flat Panel TV<br /> Installation. Projectors. Sound Systems.<br /> Surround Sound.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="columns1_3 sc_column_item sc_column_item_2 even">
                                                    <a href="features_pages_service.html">
                                                        <div class="sc_section">
                                                            <div class="sc_title_icon_animated">
                                                                <div class="sc_title_icon sc_title_top sc_size_medium icon-electric38 sc_title_bg sc_bg_animated">
                                                                </div>
                                                                <h5 class="sc_title sc_title_iconed">Electrical</h5>
                                                            </div>
                                                        </div>
                                                        <div class="sc_section ">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p>Switches. Dimmers. Outlets. Recessed<br /> Lighting. Light Fixture Installation. Ceiling<br /> Fans. Ground Fault Outlet Installation.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="columns1_3 sc_column_item sc_column_item_3 odd">
                                                    <a href="features_pages_service.html">
                                                        <div class="sc_section">
                                                            <div class="sc_title_icon_animated">
                                                                <div class="sc_title_icon sc_title_top sc_size_medium icon-faucet1 sc_title_bg sc_bg_animated">
                                                                </div>
                                                                <h5 class="sc_title sc_title_iconed">Plumbing</h5>
                                                            </div>
                                                        </div>
                                                        <div class="sc_section ">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <p>Leaks Repaired. Faucet Installation. Toilet<br /> Repair/Replacement. Faucet Leaks. Shut Off<br /> Valves. Kitchens. Toilet Repairs&#8230;</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="sc_section grey_section">
                                        <div class="sc_content main" data-animation="animated fadeInUp">
                                            <h3 class="sc_undertitle sc_title_regular">REQUEST FREE QUOTE</h3>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>
                                                        Please fill in the form below to request a free quote and one of our experts will contact you to arrange a meeting. This visit<br />
                                                        will serve to evaluate your needs and give you a personalized and competitive quotation.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="sc_contact_form sc_contact_form_contact_3 margin_top_small">
                                                <form data-formtype="contact_3" method="post" action="include/sendmail.php">
                                                    <div class="columnsWrap sc_columns sc_columns_count_4 no_padding">
                                                        <div class="columns1_4 sc_column_item sc_column_item_1 odd first">
                                                            <input id="sc_contact_form_username" type="text" name="username" placeholder="Name">
                                                            <input id="sc_contact_form_phone" type="text" name="phone" placeholder="Phone (Ex.0123456789)">
                                                        </div>
                                                        <div class="columns1_4 sc_column_item sc_column_item_2 even">
                                                            <input id="sc_contact_form_email" type="text" name="email" placeholder="E-mail">
                                                            <input id="sc_contact_form_subj" type="text" name="subject" placeholder="Subject">
                                                        </div>
                                                        <div class="columns2_4 sc_column_item sc_column_item_3 odd span_2">
                                                            <textarea id="sc_contact_form_message" class="textAreaSize" name="message" placeholder="Message"></textarea>
                                                            <div class="sc_contact_form_button">
                                                                <div class="sc_button sc_button_style_dark sc_button_size_huge squareButton dark huge">
                                                                    <a href="#" class="sc_contact_form_submit">Submit</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="result sc_infobox"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="sc_content main">
                                        <h1 class="sc_title sc_title_regular sc_aligncenter margin_bottom_mini" data-animation="animated fadeInUp">Projects</h1>
                                        <div class="sc_section sc_aligncenter" data-animation="animated fadeInUp">
                                            <div class="sc_blogger sc_blogger_horizontal style_portfolio3 portfolioWrap">
                                                <div class="isotopeFiltr">
                                                    <ul>
                                                        <li class="squareButton active">
                                                            <a href="#" data-filter="*">All</a>
                                                        </li>
                                                        <li class="squareButton">
                                                            <a href="#" data-filter=".flt_252">living rooms</a>
                                                        </li>
                                                        <li class="squareButton">
                                                            <a href="#" data-filter=".flt_253">kitchens</a>
                                                        </li>
                                                        <li class="squareButton">
                                                            <a href="#" data-filter=".flt_251">buildings</a>
                                                        </li>
                                                        <li class="squareButton">
                                                            <a href="#" data-filter=".flt_250">exterior design</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <section class="portfolio isotope folio3col" data-columns="3">
                                                    <article class="isotopeElement hover_Shift odd flt_252">
                                                        <div class="ih-item colored square effect6 scale_up">
                                                            <a href="#">
                                                                <div class="img">
                                                                    <img alt="Living Room Staircases" src="images/projects-1-350x252.png">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h4>Living Room Staircases</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod... </p>
                                                                        <div class="link-wrapper">View</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </article>
                                                    <article class="isotopeElement hover_Shift even flt_253">
                                                        <div class="ih-item colored square effect6 scale_up">
                                                            <a href="#">
                                                                <div class="img">
                                                                    <img alt="Kitchen Design Ideas" src="images/projects-2-350x252.png">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h4>Kitchen Design Ideas</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod... </p>
                                                                        <div class="link-wrapper">View</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </article>
                                                    <article class="isotopeElement hover_Shift odd flt_253 flt_252">
                                                        <div class="ih-item colored square effect6 scale_up">
                                                            <a href="#">
                                                                <div class="img">
                                                                    <img alt="10 Design Lessons" src="images/projects-4-350x252.png">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h4>10 Design Lessons</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod... </p>
                                                                        <div class="link-wrapper">View</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </article>
                                                    <article class="isotopeElement hover_Shift even flt_252">
                                                        <div class="ih-item colored square effect6 scale_up">
                                                            <a href="#">
                                                                <div class="img">
                                                                    <img alt="Exterior Design Ideas" src="images/projects-3-350x252.png">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h4>Exterior Design Ideas</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod... </p>
                                                                        <div class="link-wrapper">View</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </article>
                                                    <article class="isotopeElement hover_Shift odd flt_252">
                                                        <div class="ih-item colored square effect6 scale_up">
                                                            <a href="#">
                                                                <div class="img">
                                                                    <img alt="Interior Design Ideas" src="images/projects-5-350x252.png">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h4>Interior Design Ideas</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod... </p>
                                                                        <div class="link-wrapper">View</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </article>
                                                    <article class="isotopeElement hover_Shift even last flt_251 flt_250">
                                                        <div class="ih-item colored square effect6 scale_up">
                                                            <a href="#">
                                                                <div class="img">
                                                                    <img alt="Bedroom Design Ideas" src="images/projects-6-350x252.png">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h4>Bedroom Design Ideas</h4>
                                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod... </p>
                                                                        <div class="link-wrapper">View</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </article>
                                                </section>
                                            </div>
                                            <div class="sc_button sc_button_style_global sc_button_size_medium squareButton global medium">
                                                <a href="#" class="">VIEW MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="sc_section sc_aligncenter darkgrey_section">
                                        <div class="sc_content main" data-animation="animated fadeInUp">
                                            <h3 class="sc_undertitle sc_aligncenter sc_title_regular">Newsletter</h3>
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>
                                                        Yes, I am interested in receiving the free Transformations newsletter which has remodeling news for my lifestyle and my point of<br />
                                                        view. I prefer to receive the newsletter.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="sc_button sc_button_style_global sc_button_size_small squareButton global small">
                                                <a href="#form_newsletter" class=" user-popup-link">Subscribe</a>
                                            </div>
                                            <div id="form_newsletter" class="sc_popup sc_popup_light mfp-with-anim mfp-hide">
                                                <div class="sc_emailer inputSubmitAnimation sFocus rad4 opened">
                                                    <form>
                                                        <input type="text" class="sInput" name="email" value="" placeholder="Please, enter you email address.">
                                                    </form>
                                                    <a href="#" class="sc_emailer_button searchIcon aIco mail" title="Submit" data-group="E-mail collector group">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="sc_section dark image_bg">
                                        <div class="sc_content main" data-animation="animated fadeInUp">
                                            <h1 class="sc_title sc_title_regular sc_aligncenter">Client Stories</h1>
                                            <div class="sc_testimonials sc_testimonials_style_2 sc_testimonials_padding sc_testimonials_controls_top margin_bottom_none">
                                                <div class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_controls_top sc_slider_nopagination sc_slider_autoheight swiper-slider-container">
                                                    <ul class="sc_testimonials_items slides swiper-wrapper">
                                                        <li class="sc_testimonials_item swiper-slide">
                                                            <div class="sc_testimonials_item_content">
                                                                <div class="sc_testimonials_item_quote">
                                                                    <div class="sc_testimonials_item_text">A friend recommended M2, and I couldn&#8217;t be happier&#8230;it was fast, easy, and most importantly, it allowed me to focus on my business while leaving the construction matters to the professionals.</div>
                                                                </div>
                                                                <div class="sc_testimonials_item_author">
                                                                    <div class="sc_testimonials_item_avatar">
                                                                        <img alt="01.jpg" src="images/50x50.png">
                                                                    </div>
                                                                    <div class="sc_testimonials_item_name">John Doe</div>
                                                                    <div class="sc_testimonials_item_position">SEO, Some Co.</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="sc_testimonials_item swiper-slide">
                                                            <div class="sc_testimonials_item_content">
                                                                <div class="sc_testimonials_item_quote">
                                                                    <div class="sc_testimonials_item_text">Best purchase i made on ThemeForest. Great Theme!</div>
                                                                </div>
                                                                <div class="sc_testimonials_item_author">
                                                                    <div class="sc_testimonials_item_avatar">
                                                                        <img alt="02.jpg" src="images/50x50.png">
                                                                    </div>
                                                                    <div class="sc_testimonials_item_name">Anna Smith</div>
                                                                    <div class="sc_testimonials_item_position">Purchaser</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="sc_testimonials_item swiper-slide">
                                                            <div class="sc_testimonials_item_content">
                                                                <div class="sc_testimonials_item_quote">
                                                                    <div class="sc_testimonials_item_text">Hi! I’ve just check and it works perfectly! Thank you very much for your kindness and for all the work you’ve done to solve all issues. I’ll write about your fantastic support wherever I can. Thanks again.</div>
                                                                </div>
                                                                <div class="sc_testimonials_item_author">
                                                                    <div class="sc_testimonials_item_avatar">
                                                                        <img alt="3.jpg" src="images/50x50.png">
                                                                    </div>
                                                                    <div class="sc_testimonials_item_name">Anna Black</div>
                                                                    <div class="sc_testimonials_item_position">Purchaser</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="sc_testimonials_item swiper-slide">
                                                            <div class="sc_testimonials_item_content">
                                                                <div class="sc_testimonials_item_quote">
                                                                    <div class="sc_testimonials_item_text">Hello All, Firstly, thank you so much for the great template! I have spent around 10hrs looking for a good template and yours was the best!</div>
                                                                </div>
                                                                <div class="sc_testimonials_item_author">
                                                                    <div class="sc_testimonials_item_avatar">
                                                                        <img alt="2.jpg" src="images/50x50.png">
                                                                    </div>
                                                                    <div class="sc_testimonials_item_name">Mike Doe</div>
                                                                    <div class="sc_testimonials_item_position">Purchaser</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="sc_testimonials_item swiper-slide">
                                                            <div class="sc_testimonials_item_content">
                                                                <div class="sc_testimonials_item_quote">
                                                                    <div class="sc_testimonials_item_text">Great theme &amp; fast Support.</div>
                                                                </div>
                                                                <div class="sc_testimonials_item_author">
                                                                    <div class="sc_testimonials_item_avatar">
                                                                        <img alt="1.jpg" src="images/50x50.png">
                                                                    </div>
                                                                    <div class="sc_testimonials_item_name">Nicole Smith</div>
                                                                    <div class="sc_testimonials_item_position">Purchaser</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="flex-direction-nav">
                                                    <li>
                                                        <a class="flex-prev" href="#"> </a>
                                                    </li>
                                                    <li>
                                                        <a class="flex-next" href="#"> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="sc_content main">
                                        <h1 class="sc_title sc_title_regular sc_aligncenter" data-animation="animated fadeInUp">Blog</h1>
                                        <h3 class="sc_undertitle sc_title_regular sc_aligncenter margin_bottom_small" data-animation="animated fadeInUp">
                                            We are happy to share a sampling of our media<br />
                                            appearances and mentions with you here
                                        </h3>
                                        <div class="sc_blogger sc_blogger_horizontal style_classic3 masonryWrap" data-animation="animated fadeInUp">
                                            <div class="isotopeFiltr">
                                                <ul>
                                                    <li class="squareButton active">
                                                        <a href="#" data-filter="*">All</a>
                                                    </li>
                                                    <li class="squareButton">
                                                        <a href="#" data-filter=".flt_255">press releases</a>
                                                    </li>
                                                    <li class="squareButton">
                                                        <a href="#" data-filter=".flt_254">video</a>
                                                    </li>
                                                    <li class="squareButton">
                                                        <a href="#" data-filter=".flt_256">print publications</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <section class="masonry isotope no_padding" data-columns="3">
                                                <article class="isotopeElement odd flt_255 flt_254">
                                                    <div class="isotopePadding">
                                                        <div class="thumb" data-image="images/758x500.png" data-title="Deck Rescue: Renew Your Deck">
                                                            <img alt="Deck Rescue: Renew Your Deck" src="images/350x252.png">
                                                            <div class="link-wrapper">
                                                                <a href="#">View</a>
                                                            </div>
                                                        </div>
                                                        <h4>
                                                            <a href="single_post_with_sidebar.html">Deck Rescue: Renew Your Deck</a>
                                                        </h4>
                                                        <p>
                                                            Aenean convallis elementum sollicitudin. Duis suscipit ex eget sagittis finibus. Pellentesque in eleifend enim, eget sagittis erat. Nulla vestibulum lorem...
                                                        </p>
                                                    </div>
                                                </article>
                                                <article class="isotopeElement even flt_256">
                                                    <div class="isotopePadding">
                                                        <div class="thumb" data-image="images/2000x1342.png" data-title="How to Remove a Wall">
                                                            <img alt="How to Remove a Wall" src="images/350x252.png">
                                                            <div class="link-wrapper">
                                                                <a href="#">View</a>
                                                            </div>
                                                        </div>
                                                        <h4>
                                                            <a href="#">How to Remove a Wall</a>
                                                        </h4>
                                                        <p>
                                                            Nulla tempus massa libero, at luctus lorem sagittis sit amet. Maecenas faucibus dapibus nisl, in euismod nunc efficitur vitae. Mauris blandit ut tellus ac...
                                                        </p>
                                                    </div>
                                                </article>
                                                <article class="isotopeElement odd last flt_255 flt_254">
                                                    <div class="isotopePadding">
                                                        <div class="thumb" data-image="images/750x500.png" data-title="How to Soundproof a Room">
                                                            <img alt="How to Soundproof a Room" src="images/350x252.png">
                                                            <div class="link-wrapper">
                                                                <a href="#">View</a>
                                                            </div>
                                                        </div>
                                                        <h4>
                                                            <a href="#">How to Soundproof a Room</a>
                                                        </h4>
                                                        <p>
                                                            Nunc id purus porta, dignissim ligula sit amet, laoreet odio. Nunc dignissim venenatis dolor, eu dictum libero mollis at. Phasellus ac feugiat quam. Morbi...
                                                        </p>
                                                    </div>
                                                </article>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="sc_section grey_section">
                                        <div class="sc_content main margin_top_small">
                                            <div class="columnsWrap sc_columns sc_columns_count_2">
                                                <div class="columns1_2 sc_column_item sc_column_item_1 odd first" data-animation="animated fadeInUp">
                                                    <h3 class="sc_undertitle sc_title_regular">WHY CHOOSE US</h3>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>We turn your home into the coziest place on earth. Many year experience and hundreds of projects have made our team a professional on this area. We are attentive to our customers and we stand behind our promise to deliver timely and quality service. Our company does its work with the customer in mind. That is why your are getting the best service in the country to fulfill your most sophisticated demands. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="columns1_2 sc_column_item sc_column_item_2 even" data-animation="animated fadeInUp">
                                                    <h3 class="sc_undertitle sc_title_regular">SKILLS</h3>
                                                    <div class="sc_skills sc_skills_bar no_padding sc_skills_horizontal" data-type="bar" data-subtitle="Skills" data-dir="horizontal">
                                                        <div class="sc_skills_info">Electrical</div>
                                                        <div class="sc_skills_info">95%</div>
                                                        <div class="sc_skills_item sc_skills_style_1 odd first">
                                                            <div class="sc_skills_count">
                                                                <div class="sc_skills_total" data-start="0" data-stop="95" data-step="1" data-max="100" data-speed="17" data-duration="1615" data-ed="">0</div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_skills_info">Cabinet Repairs</div>
                                                        <div class="sc_skills_info">90%</div>
                                                        <div class="sc_skills_item sc_skills_style_1 even">
                                                            <div class="sc_skills_count">
                                                                <div class="sc_skills_total" data-start="0" data-stop="90" data-step="1" data-max="100" data-speed="30" data-duration="2700" data-ed="">0</div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_skills_info">Plumbing Repairs</div>
                                                        <div class="sc_skills_info">99%</div>
                                                        <div class="sc_skills_item sc_skills_style_1 odd">
                                                            <div class="sc_skills_count">
                                                                <div class="sc_skills_total" data-start="0" data-stop="99" data-step="1" data-max="100" data-speed="31" data-duration="3069" data-ed="">0</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="wpb_wrapper">
                                    <div class="sc_content main partner_section">
                                        <div class="sc_section scrollbar_hide bg_tint_none sc_scroll_controls sc_scroll_controls_horizontal sc_scroll_controls_type_side" data-animation="animated fadeInUp">
                                            <div class="sc_scroll sc_scroll_horizontal swiper-slider-container scroll-container">
                                                <div class="sc_scroll_wrapper swiper-wrapper">
                                                    <div class="sc_scroll_slide swiper-slide">
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                        <figure class="sc_image  sc_image_align_left sc_image_shape_square">
                                                            <img src="images/150x143.png" alt="" />
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="sc_scroll_bar sc_scroll_bar_horizontal"></div>
                                            </div>
                                            <ul class="flex-direction-nav">
                                                <li>
                                                    <a class="flex-prev" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="flex-next" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tagsWrap"></div>
                    </div>
                </article>
            </section>
        </div>

    </div>
</div>